<h1>Profile</h1>

<form action="<%= profile_url(current_user) %>" method="post">
  <% if editing %>
    <input type='hidden' name='_method' value='put'>
  <% end %>
  <input type="hidden" name="profile[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>
    <label for="profile_location">Location</label>
    <input type="text" name="profile[location]" value="<%= profile.location %>"
     id="profile_location">
  </p>

  <p>
    <label for="profile_zip">ZIP</label>
    <input type="number" name="profile[zip]" value="<%= profile.zip %>"
     id="profile_zip">
  </p>

  <p><label for="profile_summary">About me</label></p>
  <p>
    <textarea rows="7" cols="50" name="profile[summary]"
     id="profile_summary"><%= profile.summary %></textarea>
  </p>


  <p><label for="profile_job">What I'm doing</label></p>
  <p>
    <textarea rows="7" cols="50" name="profile[job]"
     id="profile_job"><%= profile.job %></textarea>
  </p>

  <p><label for="profile_likes">Favorite books, movies, shows, music, and
    food</label></p>
  <p>
    <textarea rows="7" cols="50" name="profile[likes]"
     id="profile_likes"><%= profile.likes %></textarea>
  </p>

  <p>
    <label for="profile_min_age">I'm interested in people </label>
    <input type="number" name="profile[min_age]" value="<%= profile.min_age %>"
      id="profile_min_age">
    <label for="profile_max_age">to </label>
    <input type="number" name="profile[max_age]" value="<%= profile.max_age %>"
      id="profile_max_age"> years old,
    <label for="profile_max_distance">living up to </label>
    <input type="number" name="profile[max_distance]"
      value="<%= profile.max_distance %>" id="profile_max_distance">
    miles away
  </p>

  <p><input type="submit" value="Ok!"></p>
</form>