<h2>About</h2>

<% unless profile.summary.empty? %>
  <h3>My self-summary</h3>
  <p><%= profile.summary %></p>
<% end %>

<% unless profile.job.empty? %>
  <h3>What I'm doing with my life</h3>
  <p><%= profile.job %></p>
<% end %>

<% unless profile.likes.empty? %>
<h3>Favorite books, movies, shows, music, and food</h3>
<p><%= profile.likes %></p>
<% end %>

<p>Looking for <%= looking_for %> aged <%= profile.min_age %> to <%= profile.max_age %></p>