<div id="signin">
  <h1>Welcome to HeyThatsNotOkCupid,</h1>
  <h2>a geocoding-enhanced (and therefore stalker-friendly) OkCupid clone you'd probably have reservations about using in real life.</h2>

  <form action="<%= session_url %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <input type="hidden" value="" class="user_latitude" name="loc[latitude]">
    <input type="hidden" value="" class="user_longitude" name="loc[longitude]">

    <p>
      <label for="user_name">Username</label>
      <input id="user_name" name="user[name]" type="text" class="num_input">
    </p>

    <p>
      <label for="user_password">Password</label>
      <input id="user_password" name="user[password]" type="password" class="num_input">
    </p>

    <input type="submit" value="Log in," class="button">
  </form>

  <form action="<%= session_url %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input value="ProspectiveEmployer" name="user[name]" type="hidden">
      <input value="password" name="user[password]" type="hidden">
      <input type="hidden" value="" class="user_latitude" name="loc[latitude]">
      <input type="hidden" value="" class="user_longitude" name="loc[longitude]">

    <input type="submit" value="log in to the guest account," class="button">
  </form>

  <%= link_to "or sign up.", new_user_url %>
</div>

<script>
$(document).ready(function() {
  getLocation();
});

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(assignPosition);
  }
  else{ alert("Geolocation is not supported by this browser."); }
};

function assignPosition(position) {
  $(".user_latitude").attr("value", position.coords.latitude);
  $(".user_longitude").attr("value", position.coords.longitude);
};
</script>