<article id="visitors">
  <h1>Visitors</h1>

  <div id="users">
    <% @users.each do |user| %>
      <div class="user group">
        <%= image_tag user.photo.url(:big) %>
        <div class="user_info">
          <h2><%= link_to user.name, user_url(user) %></h2>
          <h3><%= user.age %> / <%= user.gender %> / <%= user.orientation %></h3>
          <h3 class="match_percentage"><%= match(user)[:match] %>% Match</h3>
          <h3 class="friend_percentage"><%= match(user)[:friend] %>% Friend</h3>
          <h3><%= current_user.distance_from(user).round(2) %> miles away</h3>
        </div>
      </div>
    <% end %>
  </div>
</article>