<article id="conversations">
  <h1>Conversations</h1>

  <div id="received">
    <h2>Received</h2>
    <div class="conversation_links">
      <% @conversations.each do |convo| %>
        <% message = convo.messages.order("created_at DESC").find do %>
          <% |msg| msg.receiver_id == current_user.id %>
        <% end %>

         <% next if message.nil? %>

         <div class="conversation_link">
           <h3><%= image_tag message.sender.photo.url(:small) %> <%= link_to message.sender.name, conversation_url(convo) %></h3>
           <p>"<%= message.body %>"</p>
         </div>
      <% end %>
     </div>
  </div>

  <div id="sent">
    <h2>Sent</h2>
    <div class="conversation_links">
      <% @conversations.each do |convo| %>
        <% message = convo.messages.order("created_at DESC").find do %>
          <% |msg| msg.sender_id == current_user.id %>
        <% end %>

         <% next if message.nil? %>

         <div class="conversation_link">
           <h3><%= image_tag message.receiver.photo.url(:small) %> <%= link_to message.receiver.name, conversation_url(convo) %></h3>
           <p>"<%= message.body %>"</p>
         </div>

      <% end %>
    </div>
  </div>
</article>