<article id="conversation_page">
<p id="conversation_with">Conversation with <%= other_user(@conversation).name %></p>

<article id="conversation">
  <div id="messages">
    <% @messages.each do |message| %>
    <article class="message">
      <h3><%= link_to image_tag(message.sender.photo.url(:small)), user_url(message.sender) %> on <%= nice_time(message.created_at) %>:</h3>
      <p><%= message.body %></p>
    </article>
    <% end %>
  </div>

  <%= render "messages/new", recipient: @recipient %>
</article>
</article>