<article id="matches">
  <div class="matches_or_visits_header">
    <h1>Matches</h1>

    <!-- Make JS-based filter? -->
    <p>Showing matches for a <%= current_user.orientation.downcase %>
      <%= current_user.gender %> between the ages of <%= current_user.profile.min_age%> and <%= current_user.profile.max_age %></p>
  </div>
  <div id="users">
    <%= "No matches!" if @users.empty? %>
    <% @users.each do |user| %>
      <div class="user group">
        <%= image_tag user.photo.url(:big) %>
        <div class="user_info">
          <h2><%= link_to user.name, user_url(user) %></h2>
          <h3><%= user.age %> / <%= user.gender %> / <%= user.orientation %></h3>
          <h3 class="match_percentage"><%= match(user)[:match] %>% Match</h3>
          <h3 class="friend_percentage"><%= match(user)[:friend] %>% Friend</h3>
          <h3 class="enemy_percentage"><%= match(user)[:enemy] %>% Enemy</h3>
          <h3><%= current_user.distance_from(user).round(2) %> miles away</h3>
        </div>
      </div>
    <% end %>
  </div>
</article>