<h1>Sign Up!</h1>

<%= form_for @user do |f| %>
  <p><%= f.label :username %>:
  <%= f.text_field :name %></p>

  <p><%= f.label :password %>:
  <%= f.password_field :password %></p>

  <p><label for="user_gender">
    <%= f.select :gender, [["I'm a girl", "F"], ["I'm a guy", "M"]] %></label></p>

  <p><label for "user_orientation">
    <%= f.select :orientation, [["I'm straight", "Straight"],
    ["I'm gay", "Gay"], ["I'm bi", "Bisexual"]]%></label></p>

  <p><label for="user_age">I'm </label><%= f.number_field :age %> years old</p>

  <p><%= f.label :photo %>:
    <%= f.file_field :photo %></p>

  <%= f.submit "Join" %>
<% end %>