<div id="signup">
  <h1>Sign Up!</h1>

  <%= form_for @user do |f| %>
  <input type="hidden" value="40.748444" id="user_latitude" name="user[latitude]">
  <input type="hidden" value="-73.985658" id="user_longitude" name="user[longitude]">

    <p><%= f.label :username %>:
    <%= f.text_field :name, class: "num_input" %></p>

    <p><%= f.label :password %>:
    <%= f.password_field :password, class: "num_input" %></p>

    <p><label for="user_gender">
      <%= f.select :gender, [["I'm a girl", "F"], ["I'm a guy", "M"]], {}, { class: "num_input" } %></label></p>

    <p><label for "user_orientation">
      <%= f.select :orientation, [["I'm straight", "Straight"],
      ["I'm gay", "Gay"], ["I'm bi", "Bisexual"]], {}, { class: "num_input" }%></label></p>

    <p><label for="user_age">I'm </label><%= f.number_field :age, class: "num_input" %> years old</p>

    <p><%= f.label :photo %>:
      <%= f.file_field :photo %></p>

    <%= f.submit "Join", class: "button" %>
    <p><%= link_to "or sign in.", new_session_url %></p>
  <% end %>
</div>

<script>
$(document).ready(function() {
  getLocation();
});

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(assignPosition);
  }
  else{ alert("Geolocation is not supported by this browser."); }
};

function assignPosition(position) {
  $("#user_latitude").attr("value", position.coords.latitude);
  $("#user_longitude").attr("value", position.coords.longitude);
};
</script>