<head>
</head>

<body>
   <h2><%= @user.name %></h2>
   <h3><%= @user.age %> / <%= @user.gender %> /
     <%= @user.orientation %></h3>
   <% unless @user == current_user %>
   <div class="matchbox">
     <h3><%= match(@user)[:match] %>% Match</h3>
     <h3><%= match(@user)[:friend] %>% Friend</h3>
   </div>
   <% end %>
     <!-- Add miles away -->
   <h3><%= @user.profile.location %> (--- Miles Away)</h3>

   <%= render "profiles/show", profile: @user.profile %>
   <% if my_page? %>
     <%= link_to "Edit profile", edit_profile_url(@user) %>
   <% end %>

   <%= render "details/show", detail: @user.detail %>
   <% if my_page? %>
     <%= link_to "Edit details", edit_detail_url(@user) %>
   <% end %>

   <% unless my_page? %>
     <%= link_to "Message me!", new_user_message_url(@user) %>
   <% end%>
</body>