<head>
</head>

<body>
  <section class="page">
    <div id="profile_header" class="group">
       <%= image_tag @user.photo.url(:big) %>

       <article id="profile_header_info">
         <% unless @user == current_user %>
         <div class="matchbox group">
           <ul>
             <li><%= match(@user)[:match] %>% Match</li>
             <li><%= match(@user)[:friend] %>% Friend</li>
             <li>67% Enemy</li>
           </ul>
         </div>

         <% end %>
         <div class="name_and_attributes">
           <ul>
             <li id="username"><%= @user.name %></li>
             <li><%= @user.age %> / <%= @user.gender %> /
               <%= @user.orientation %></li>

               <!-- Add miles away -->
             <li><%= @user.profile.location %> (--- Miles Away)</li>
           </ul>
         </div>
       </article>
     </div>

    <article id="profile">
       <%= render "profiles/show", profile: @user.profile %>
       <% if my_page? %>
         <%= link_to "Edit profile", edit_profile_url(@user) %>
       <% end %>
    </article>

    <article id="details">
       <%= render "details/show", detail: @user.detail %>
       <% if my_page? %>
         <%= link_to "Edit details", edit_detail_url(@user) %>
       <% end %>
    </article>

     <%= render "responses/index" %>
     <p><%= link_to "Submit a question", new_question_url %></p>

     <% unless my_page? %>
       <p><%= link_to "Message me!", new_user_message_url(@user) %></p>
     <% end%>
   </section>
</body>