<div id="others_page">
  <p><%= image_tag current_user.photo.url(:small) %> <%= my_resp.answer.body %></p>
  <% unless my_resp.explanation == "" %>
    <p>"<%= my_resp.explanation %>"</p>
  <% end %>
  <p><%= link_to "Re-answer", edit_response_url(my_resp), class: "reanswer_button" %></p>
</div>

<div id="users_page">
  <p><strong><%= my_resp.question.body %></strong></p>
  <p><%= my_resp.answer.body %></p>
  <% unless my_resp.explanation == "" %>
  <p>"<%= my_resp.explanation %>"</p>
  <% end %>
  <%= link_to "Re-answer", edit_response_url(my_resp), class: "re-answer" %>
</div>