<h1>Questions</h1>

<% responses.each do |response| %>
  <div id="question_<%= response.question.id %>_response">
    <% if my_response(response.question.id) %>
      <div class="show_answer_comparison">
        <div class="answer_form">
          <%= render "responses/edit", response: my_response(response.question.id), question: response.question %>
        </div>
        <div class="answer_comparison">
          <strong><%= response.question.body %></strong>
          <p><%= image_tag response.user.photo.url(:small) %> <%= response.answer.body %></p>
          <% unless response.explanation == "" %>
            <p>"<%= response.explanation %>"</p>
          <% end %>
          <div class="my_answer">
            <p><%= image_tag current_user.photo.url(:small) %> <%= my_response(response.question.id).answer.body %></p>
            <% unless my_response(response.question.id).explanation == "" %>
              <p>"<%= my_response(response.question.id).explanation %>"</p>
            <% end %>
            <p><%= link_to "Re-answer", edit_response_url(my_response(response.question.id)), class: "reanswer_button" %></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="show_answer_link">
        <div class="answer_link">
          <strong><%= response.question.body %></strong>
          <p><%= link_to "Answer", new_response_url(response.question), class: "answer_button" %></p>
        </div>
        <div class="answer_form">
          <%= render "responses/new", question: (response.question) %>
        </div>
        <div class="answer_comparison">
          <strong><%= response.question.body %></strong>
          <p><%= image_tag response.user.photo.url(:small) %> <%= response.answer.body %></p>
          <% unless response.explanation == "" %>
            <p>"<%= response.explanation %>"</p>
          <% end %>
          <div class="my_answer">
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
$(document).ready(function(event) {

  $(".answer_link").on("click", ".answer_button", function(event) {
    event.preventDefault();

    var $question_div = $(event.currentTarget).parent().parent().parent();
    $question_div.addClass("show_answer_form");
    $question_div.removeClass("show_answer_link");
  });

  $(".new_response_form").on("ajax:success", function(event, data) {
    var $my_answer = $(event.currentTarget).parent().next().find(".my_answer");
    var $question_div = $(event.currentTarget).parent().parent();
    $my_answer.html(data);
    $question_div.removeClass("show_answer_form");
    $question_div.addClass("show_answer_comparison");

    // remove class new_response_form and add edit_response_form to form
    var $form = $(event.currentTarget);
    $form.removeClass("new_response_form");
    $form.addClass("edit_response_form");
    // append hidden put input to form
    $form.append('<input type="hidden" name="_method" value="put">');
    // change route
    var $reanswer_button = $form.parent().next().find(".reanswer_button");
    var newUrl = $reanswer_button.attr("href").substr(0, $reanswer_button.attr("href").length - 5);
    $form.attr("action", newUrl);
  });

  $(".my_answer").on("click", ".reanswer_button", function(event) {
    event.preventDefault();
    var $question_div = $(event.currentTarget).parent().parent().parent().parent();
    $question_div.addClass("show_answer_form");
    $question_div.removeClass("show_answer_comparison");
  });

  $(".edit_response_form").on("ajax:success", function(event, data) {
    var $my_answer = $(event.currentTarget).parent().next().find(".my_answer");
    var $question_div = $(event.currentTarget).parent().parent();
    $my_answer.html(data);
    $question_div.removeClass("show_answer_form");
    $question_div.addClass("show_answer_comparison");
  });

});
</script>