<h1>Questions</h1>

<% responses.each do |response| %>
  <% if my_response(response.question.id) %>
    <strong><%= response.question.body %></strong>
    <p><%= user.name %>: <%= response.answer.body %></p>
    <p><%= current_user.name %>: <%= my_response(response.question.id).answer.body %></p>
    <p><%= link_to "Re-answer", edit_response_url(my_response(response.question.id)) %></p>
  <% else %>
    <%= render "new", question: response.question %>
  <% end %>
<% end %>