<h1>Questions</h1>

<% responses.each do |response| %>
  <div id="question_<%= response.question.id %>_response">
    <% if my_response(response.question.id) %>
      <strong><%= response.question.body %></strong>
      <p><%= image_tag response.user.photo.url(:small) %> <%= response.answer.body %></p>
      <% unless response.explanation == "" %>
        <p>"<%= response.explanation %>"</p>
      <% end %>
      <p><%= image_tag current_user.photo.url(:small) %> <%= my_response(response.question.id).answer.body %></p>
      <% unless my_response(response.question.id).explanation == "" %>
        <p>"<%= my_response(response.question.id).explanation %>"</p>
      <% end %>
      <p><%= link_to "Re-answer", edit_response_url(my_response(response.question.id)) %></p>
    <% else %>
      <strong><%= response.question.body %></strong>
      <p><%= link_to "Answer", new_response_url(response.question) %></p>
    <% end %>
  </div>
<% end %>