<% if unanswered_question %>
  <div class="show_answer_form">
    <div id="unanswered_question" class="answer_form">
      <%= render "responses/new", question: unanswered_question %>
    </div>
  </div>
<% end %>

<h2>Already answered</h2>
<div id="already_answered">
<% responses.each do |response| %>
  <div id="question_<%= response.question.id %>_response" class="question_response">
    <div class="show_response">
      <div class="response">
        <p><strong><%= response.question.body %></strong></p>
        <p><%= response.answer.body %></p>
        <% unless response.explanation == "" %>
        <p class="explanation">"<%= response.explanation %>"</p>
        <% end %>
        <%= link_to "Re-answer", edit_response_url(response), class: "re-answer" %>
      </div>
      <div class="form answer_form">
        <%= render "responses/edit", question: response.question, response: response %>
      </div>
    </div>
  </div>
<% end %>
</div>

<script>
$(document).ready(function() {

  $("#already_answered").on("click", ".re-answer", function(event) {
    event.preventDefault();
    var $questionDiv = $(event.currentTarget).parent().parent();
    $questionDiv.addClass("show_form");
    $questionDiv.removeClass("show_response");
  });

  $("#already_answered").on("ajax:success", ".edit_response_form", function(event, data) {
    var $questionDiv = $(event.currentTarget).parent().parent();
    var $response = $questionDiv.find(".response");
    var updatedResponse = $(data).filter("#users_page").html();

    $response.html(updatedResponse);
    $questionDiv.removeClass("show_form");
    $questionDiv.addClass("show_response");
  });

  $("#unanswered_question").on("ajax:success", ".new_response_form",
   function(event, data) { $("#already_answered").append($(data).filter("#new_response").html());
     $("#unanswered_question").html($(data).filter("#unanswered_question").html());
  });
});
</script>