<h4>Details</h4>

<table>
  <tr>
    <td class="detail_name">Height</td>
    <td><%= parse_height(detail.height.to_i) %> </td>
  </tr>
  <tr>
    <td class="detail_name">Body Type</td>
    <td><%= detail.body_type %></td>
  </tr>
  <tr>
    <td class="detail_name">Diet</td>
    <td><%= detail.diet %></td>
  </tr>
  <tr>
    <td class="detail_name">Smokes</td>
    <td><%= detail.smokes %></td>
  </tr>
  <tr>
    <td class="detail_name">Drinks</td>
    <td><%= detail.drinks %></td>
  </tr>
  <tr>
    <td class="detail_name">Drugs</td>
    <td><%= detail.drugs %></td>
  </tr>
  <tr>
    <td class="detail_name">Religion</td>
    <td><%= detail.religion %></td>
  </tr>
  <tr>
    <td class="detail_name">Sign</td>
    <td><%= detail.sign %></td>
  </tr>
  <tr>
    <td class="detail_name">Education</td>
    <td><%= detail.education %></td>
  </tr>
  <tr>
    <td class="detail_name">Job</td>
    <td><%= detail.job %></td>
  </tr>
  <tr>
    <td class="detail_name">Kids</td>
    <td><%= detail.offspring %></td>
  </tr>
  <tr>
    <td class="detail_name">Pets</td>
    <td><%= detail.pets %></td>
  </tr>
</table>