<!DOCTYPE html>
<html>
<head>
  <title>HeyThatsNotOkCupid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

  <div id="flash">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>

    <header>
      <div class="header-wrap group">
        <img src="https://s3.amazonaws.com/okcprod/public/htnokclogo.png" id="logo">

      <% if current_user %>
        <nav class="topnav">
          <ul>
            <li>Hello, <%= link_to current_user.name + "!", user_url(current_user) %></li>
            <li><%= button_to "Log Out", "/session", method: "delete", class: "button", id: "logout" %></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="content" class="group">
      <div class="sidenav_wrap">
        <nav class="sidenav">
          <ul class="group">
            <li><%= link_to "Matches", users_url %></li>
            <li><%= link_to "Messages", conversations_url %></li>
            <li><%= link_to "Visitors", user_visits_url(current_user) %></li>
            <li id="recently_visited" class="group">
              <p>Recently Visited</p>
              <ul>
                <% recently_visited.each do |user| %>
                  <li><%= link_to (image_tag user.photo.url(:small), title: user.name), user_url(user)  %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    <% else %>
      </div>
    </header>
    <% end %>

    <%= yield %>

  </section>

  <div id="push"></div>

  </div>

  <footer>
    <div class="footer_wrap">
      <ul>
       <li>Site by <%= link_to "Kiran Helferty",
          "http://www.linkedin.com/in/kiranhelferty/" %></li>
       <li><%= link_to (image_tag   "https://s3.amazonaws.com/okcprod/public/GitHub-Mark-32px.png"), "http://github.com/kphh/HeyThatsNotOkCupid" %></li>
      </ul>
    </div>
  </footer>
</body>
</html>
